.Nav{
    display: flex;
    position: relative;
    text-decoration: none;
     background:black;
     height: 3em;
     padding-top: 1em;


}
.Nav a {
    text-decoration: none;
    color: white;
}
.navbar_links{
    display: inline-block;
    list-style-type: none;
    flex: 1; 
    text-align: right;
    background:black

}
.navbar_links ul li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;

}
.navbar_links ul li > a {
        text-decoration: none;
        color: white;}
table {
    width: 50vw;
    height: 80vh;
    border-radius: 5px;
}

.title{
margin-bottom: 10px;
text-align:center;
width: 210px;
color:#be3144;
border: solid teal 2px;
border-radius: 5px;

}

input[type="button"]
{
background-color:orange;
color: whitesmoke;
border: solid #be3144 2px;
border-radius: 5px;
width:100%
}

input[type="text"]
{
background-color:grey;
border: solid #be3144 2px;
border-radius: 5px;
width:100%
}
@media (max-width: 575.98px) { 
    .Nav{
        width: 100%;
        position: fixed;
        margin-top: -2em;
        overflow: hidden;
    }
    .navbar_links ul li {
        margin-left: 10px;
        margin-right: 10px;
    
    }
    
}
@media (min-width: 576px) {

    .Nav{
        width: 100%;
        position: fixed;
        margin-top: -2em;
        overflow: hidden;
        z-index: -1;
    }
    .navbar_links ul li {
        margin-left: 10px;
        margin-right: 10px;
    
    }
}
